body {
  text-align: center;
  background-color: #111;
}
.wrapper{
  margin-top: 50px;
}
.word {
  width: 350px;
  margin: auto;
}
.answer {
 margin: auto;
   text-align: center;
   vertical-align: middle;
}
.output{
  line-height: 50px;
  overflow: auto;
  white-space: nowrap;
  visibility:hidden;
  outline: none;
  border: 2px solid #404B99;
  font-size: 1rem;
  color: #bbb;
  border-radius: 10px;
  display: inline-block;
  width: 350px;
  height: 50px;
  text-align: center;
  margin: auto;
  background-color: black;
}
.primary {
  color: #404B99;
  border-color: #404B99;
  font-weight: bold;
  margin: 10px;
}
.primary:hover {
  background-color: #404B99;
  color: #222;
  border-color: #404B99;
}
.letter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: 2px solid #404B99;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  width: 80px !important;
  height: 60px !important;
  line-height: 56px;
  text-align: center;
  margin: 4px;
  background-color: 333;
}
.AC{
  font-size: 1.2rem;
}
